body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #161625 ; 
  color: #e0e0e0; 
  width: 190px;
  margin: 0;
}

.container {
  padding: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
.buttons{
  display: flex;
  flex-direction: row;
}
.buttons button{
  padding: 10px;
  margin: 8px;
}
textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  resize: vertical;
  background-color: #232C42; 
  color: #e0e0e0; 
  border: 1px solid #86AAF9; 
  border-radius: 5px;
  font-family: Arial, sans-serif;
}
input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  resize: vertical;
  background-color: #232C42; 
  color: #e0e0e0; 
  border: 1px solid #86AAF9; 
  border-radius: 5px;
  font-family: Arial, sans-serif; 
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #86AAF9;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5e77ae; 
}

#result {
  width:100%;
  margin-top: 20px;
  font-weight: bold;
  font-size: 12px;
  font-family: monospace;  
  white-space: pre-line; 
  color:rgb(65, 218, 65);
  text-align: left;
  background-color: #232C42; 
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #86AAF9; 
}